* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --text-white: #c7cde3;
  --text-black: #1d1419;
  --bg-brown: #44210c;
  --bg-glass: #44210c60;
}

#header {
  background: var(--bg-brown);
  color: var(--text-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul{
 width: 100%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

nav li{
  height: 50px;
 
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: var(--text-white);
}

nav ul li:first-child{
  margin-right:auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: var(--bg-glass);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 
}

/* .sidebar li{
  color: var(--text-black);
} */

.sidebar li:first-child{
  width: 100%;
}

.menu-btn{
  display: none;
}

#books .book1 {
  display: flex;
  justify-content: space-between;
  background: var(--text-white);

  align-items: center;
}

#books .book1 .container3 {
  margin: 30px;
}

#books .book1 img {
  width: 50%;
  height: 100vh;
  border-radius: 20px;
}

#books .book1 h1 {
  text-align: center;
}

#books .book1 p {
  text-align: justify;
  color: var(--text-black);
  font-size: 20px;
  margin-bottom: 50px;
}

#books .book1 a {
  border: none;
  outline: none;
  padding: 20px;
  background: var(--text-black);
  color: var(--text-white);
  margin-top: 60px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;
}

#books .book1 a:hover {
  box-shadow: 0 0 25px var(--text-black);
}

/* #books .book2 {
  display: flex;
  justify-content: space-between;
  background: var(--bg-brown);

  align-items: center;
}

#books .book2 .container3 {
  margin: 30px;
}

#books .book2 img {
  width: 50%;
  height: 100vh;
  border-radius: 20px;
}

#books .book2 h1 {
  text-align: center;
  color: var(--text-white);
}

#books .book2 p {
  text-align: justify;
  color: var(--text-white);
  font-size: 20px;
  margin-bottom: 50px;
}

#books .book2 a {
  border: none;
  outline: none;
  padding: 20px;
  background: var(--text-black);
  color: var(--text-white);
  margin-top: 60px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;
}

#books .book2 a:hover {
  box-shadow: 0 0 25px var(--text-black);
}

#books .book3 {
  display: flex;
  justify-content: space-between;
  background: var(--text-white);

  align-items: center;
}

#books .book3 .container3 {
  margin: 30px;
}

#books .book3 img {
  width: 50%;
  height: 100vh;
  border-radius: 20px;
}

#books .book3 h1 {
  text-align: center;
}

#books .book3 p {
  text-align: justify;
  color: var(--text-black);
  font-size: 20px;
  margin-bottom: 50px;
}

#books .book3 a {
  border: none;
  outline: none;
  padding: 20px;
  background: var(--text-black);
  color: var(--text-white);
  margin-top: 60px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;
}

#books .book3 a:hover {
  box-shadow: 0 0 25px var(--text-black);
}

#books .book4 {
  display: flex;
  justify-content: space-between;
  background: var(--bg-brown);

  align-items: center;
}

#books .book4 .container3 {
  margin: 30px;
}

#books .book4 img {
  width: 50%;
  height: 100vh;
  border-radius: 20px;
}

#books .book4 h1 {
  text-align: center;
  color: var(--text-white);
}

#books .book4 p {
  text-align: justify;
  color: var(--text-white);
  font-size: 20px;
  margin-bottom: 50px;
}

#books .book4 a {
  border: none;
  outline: none;
  padding: 20px;
  background: var(--text-black);
  color: var(--text-white);
  margin-top: 60px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;
}

#books .book4 a:hover {
  box-shadow: 0 0 25px var(--text-black);
} */

.loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-black);
  transition: opacity 3s, visibility 3s;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--text-white);
  border-top-color: var(--bg-brown);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
  
}

@keyframes loading{
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

@media(max-width:800px){
  .hide{
    display: none;
   
  }
  .menu-btn{
    display: block;
  }
}

@media(max-width:670px){
  .sidebar{
   
    height: 100%;
  }

  #books .book1 {
    display: flex;
    justify-content: space-between;
    background: var(--text-white);
    flex-direction: column;
    align-items: center;
  }

  #books .book1 img {
    width: 100%;
    height: 100vh;
    border-radius: 20px;
  }
}

@media(max-width:400px){
  .sidebar{
    width: 100%;
    height: 100%;
  }
}